.bgtopbar {
  background-color: #012f1d;
}

.colortopbar {
  color: #f8be7e !important;
  text-decoration: none;
}

.colorNavBrand {
  color: #f8be7e !important;
}

.colortopbar:hover {
  background-color: #f8be7e;
  color: #012f1d !important;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
}
